.RobotParent {
	position: fixed;
	bottom: 0;
	right: 15px;
}

.RobotIcon {
	font-size: 55px !important;
}

.chat_box input[type="text"],
.chat_box button {
	padding: 4px 8px;
	border: 0;
	outline: 0;
}

.chat_box button {
	background-color: transparent;
	cursor: pointer;
}

.chat_box button:hover i {
	color: #000;
	transform: scale(1.2);
}

/* chat_box */
.chat_box {
	display: flex;
	flex-direction: column;
	height: 100%;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 10px 10px 0 0;
}

.chat_box>* {
	padding: 16px;
}

/* head */
.chat_box .head {
	display: flex;
	align-items: center;
}

.chat_box .head .user {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.chat_box .head .user .avatar {
	margin-right: 8px;
}

.chat_box .head .user .avatar img {
	display: block;
	border-radius: 50%;
}

/* body */
.chat_box .body {
	flex-grow: 1;
	background-color: #eee;
	height: 350px;
	overflow: auto;
	width: 370px;
}

.chat_box .body .bubble p {
	display: inline-block;
	padding: 10px;
	margin-bottom: 0px;
	border-radius: 15px;
	background-color: #b2b2b2;

}

.chat_box .body .bubble p {
	font-size: 14px;
	text-align: left;
	line-height: 1;
	margin-top: 2px;
}

.message {
	display: flex;
	justify-content: flex-end;
	/* Align messages to the right by default */
	/* background-color: #79c7c5; */
}

.message.chatbot {
	justify-content: flex-start;
	/* Align incoming messages to the left */
}

/* foot */
.chat_box .foot {
	display: flex;
}

.chat_box .foot .msg {
	flex-grow: 1;
	width: 295px;
}